<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>
            Angular typescript webpack
        </title>
    </head>
    <body ng-controller="MainController as vm">
        <div class="container">
            <form class="form-horizontal" role="form">
                 <div class="form-group">
                    <div class="input-group col-md-4 control-label">
                        <button class="btn btn-default" ng-click="vm.touchSpinDisabled = !vm.touchSpinDisabled">
                            Toggle disabled state
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="demo2" class="col-md-4 control-label">
                        Example:
                    </label>
                    <div class="col-md-8">
                        <touch-spin disabled="vm.touchSpinDisabled" ng-model="vm.currency" options="vm.touchSpinOptions">
                        </touch-spin>
                    </div>
                </div>
                <div class="form-group">
                    <label for="demo2" class="col-md-4 control-label">
                        Example 3:
                    </label>
                    <div class="col-md-8">
                        <touch-spin ng-model="vm.currency1" options="vm.touchSpinVerticalOptions">
                        </touch-spin>
                    </div>
                </div>
                <div class="form-group">
                    <label for="demo2" class="col-md-4 control-label">
                        Example 3:
                    </label>
                    <div class="col-md-8">
                        <touch-spin ng-model="vm.currency1" options="vm.touchSpinOptions" on-change="vm.onTouchSpinChange(value)">
                        </touch-spin>
                    </div>
                </div>
                <div class="form-group">
                    <label for="demo2" class="col-md-4 control-label">
                        Example value:
                    </label>
                    <div class="col-md-8">
                        {{vm.currency}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="demo2" class="col-md-4 control-label">
                        Example 1 value:
                    </label>
                    <div class="col-md-8">
                        {{vm.currency1}}
                    </div>
                </div>
            </form>
        </div>
        <script src="http://localhost:8080/webpack-dev-server.js"></script>
    </body>
</html>
